[submodule "g9xled"]
	path = g9xled
	url = https://github.com/pschmitt/aur-g9xled.git
[submodule "phoebetria"]
	path = phoebetria
	url = https://github.com/pschmitt/aur-phoebetria.git
[submodule "python2-g9led"]
	path = python2-g9led
	url = https://github.com/pschmitt/aur-python2-g9led.git
[submodule "protege"]
	path = protege
	url = https://github.com/pschmitt/aur-protege.git
[submodule "dialogblocks"]
	path = dialogblocks
	url = https://github.com/pschmitt/aur-dialogblocks.git
[submodule "syncdrive"]
	path = syncdrive
	url = https://github.com/pschmitt/aur-syncdrive.git
[submodule "pilight"]
	path = pilight
	url = https://github.com/pschmitt/aur-pilight
[submodule "pilight-git"]
	path = pilight-git
	url = https://github.com/pschmitt/aur-pilight-git
[submodule "monogame-monodev-addin"]
	path = monogame-monodev-addin
	url = https://github.com/pschmitt/aur-monodevelop-monogame-addin.git
