[submodule "g9xled"]
	path = g9xled
	url = https://github.com/pschmitt/g9xled.git
[submodule "phoebetria"]
	path = phoebetria
	url = https://github.com/pschmitt/phoebetria.git
[submodule "python2-g9led"]
	path = python2-g9led
	url = git@github.com:pschmitt/python2-g9led.git
[submodule "protege"]
	path = protege
	url = git@github.com:pschmitt/protege.git
[submodule "dialogblocks"]
	path = dialogblocks
	url = git@github.com:pschmitt/dialogblocks.git
[submodule "syncdrive"]
	path = syncdrive
	url = https://github.com/pschmitt/aur-syncdrive.git
